@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition: all 0.3s ease-in-out;
	font-family: "Manrope", sans-serif;
}

body {
	font-family: "Segoe_UI-Regular", Helvetica;
}

/* .search-div {
	width: clamp(10%, 10vw, 50%);
} */
